---
import * as Content from "astro:content"

import Base from "../../layouts/base.astro"
import AppsList from "../../components/apps_list.astro"

import categories from "../../categories.json" with { type: "json" }
import { live } from "../../validate_hosted_apps.js"

export async function getStaticPaths() {
	return categories.map(category => ({ params: { category: category.slug }, props: { category } }))
}

let { category } = Astro.props

let packaged = await Content.getCollection("metadata", app => app.data.app_type != "hosted")
let apps = packaged.concat(live).filter(app => app.data.categories.includes(category.slug))

---

<Base title={category.name}>
	<link slot="imports" rel="stylesheet" href="/lists.css">
	<link slot="icon" rel="icon" href={"/icons/" + category.slug + ".png"} type="image/png">

	<Fragment slot="header">
		<img src={"/icons/" + category.slug + ".png"} alt="" width="40" height="40">
		<h2>{category.name}</h2>
	</Fragment>

	<AppsList apps={apps}/>
</Base>