---
import * as Content from "astro:content"

import Base from "../../layouts/base.astro"
import AppsList from "../../components/apps_list.astro"
import Pagination from "../../components/pagination.astro"

const characters = [ "1", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z" ]

export async function getStaticPaths() {
	const characters = [ "1", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z" ]
	return characters.map(page => ({
		params: { page },
})) }

let { page } = Astro.params

let apps = await Content.getCollection("metadata", function(app) {
	if(app.data.app_type != "privileged") {
		return false
	}
	let name = app.data.name["en-US"] ?? app.data.name.en ?? app.data.name[app.data.default_locale]
	let starting = name[0].toUpperCase()
	if(! characters.includes(starting)) {
		starting = "1"
	}
	return starting == page
})
---

<Base title={ page + " - Privileged Apps"}>
	<Fragment slot="imports">
		<link rel="stylesheet" href="/lists.css">
		<link rel="stylesheet" href="/pagination.css">
		<script src="/pagination.js" defer></script>
	</Fragment>
	<link slot="metadata" rel="canonical" href="/privileged/">

	<h2 slot="header">Privileged Apps - Page { page }</h2>

			<Pagination current={page}/>
	<AppsList apps={ apps }/>
			<Pagination current={page}/>
</Base>