---
import * as Content from "astro:content"

import Base from "../../layouts/base.astro"
import AppsList from "../../components/apps_list.astro"

let privileged = await Content.getCollection("metadata", ({ data }) => data.app_type == "privileged")
---

<Base title="All Privileged Apps">
	<link slot="imports" rel="stylesheet" href="/lists.css">

	<h2 slot="header">All Privileged Apps</h2>

	<AppsList apps={ privileged }/>
</Base>