#apps_list {
	list-style: none;
	padding: 0;
}
#apps_list > li {
	margin-top: 20px;
}
#apps_list a {
	display: block;
	overflow: auto;
	text-decoration: none;
}
.icon {
	float: left;
	margin-right: 1em;
}
.name {
	display: inline;
	margin: 0;
}
.author {
	float: right;
}
.secondary {
	clear: right;
}
.rating {}
.type {}
.categories {
	display: inline;
	list-style: none;
	padding: 0;
}
.categories li {
	display: inline;
}
.categories li:not(:last-child)::after {
	content: ", "
}