---
import * as Content from "astro:content"

import Base from "../../layouts/base.astro"
import AppsList from "../../components/apps_list.astro"
import Pagination from "../../components/pagination.astro"

import { live } from "../../validate_hosted_apps.js"

const characters = [ "1", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z" ]

export async function getStaticPaths() {
	const characters = [ "1", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z" ]
	return characters.map(page => ({
		params: { page },
})) }

let { page } = Astro.params

let packaged = await Content.getCollection("metadata", app => app.data.app_type != "hosted")

let apps = packaged.concat(live).filter(function(app) {
	let name = app.data.name["en-US"] ?? app.data.name.en ?? app.data.name[app.data.default_locale]
	let starting = name[0].toUpperCase()
	if(! characters.includes(starting)) {
		starting = "1"
	}
	return starting == page
})
---

<Base title={"Page " + page + " - All Apps"}>
	<Fragment slot="imports">
		<link rel="stylesheet" href="/lists.css">
		<link rel="stylesheet" href="/pagination.css">
		<script src="/pagination.js" defer></script>
	</Fragment>
	<link slot="metadata" rel="canonical" href="/all/">

	<h2 slot="header">All Apps - Page {page}</h2>

			<Pagination current={page} />
			<AppsList apps={ apps }/>
			<Pagination current={page} />
</Base>