---
import * as Content from "astro:content"

import Imports from "../components/common_imports.astro"
import Footer from "../components/footer.astro"
import Metadata from "../components/common_metadata.astro"
import AppsList from "../components/apps_list.astro"

let apps = await Content.getCollection("metadata")
---

<!doctype html>
<html lang="en">
	<head>
		<Imports/>

		<Metadata/>
		<title>All Apps - FF Apps Archive</title>
	</head>
	<body>
		<header>
			<h1><a href="/">All Apps - FF Apps Archive (beta)</a></h1>
		</header>
		<main>
			<AppsList apps={ apps }/>
		</main>
		<Footer/>
	</body>
</html>