---
import Base from "../layouts/base.astro"
---

<Base title="Contact" searchable>
	<link slot="imports" rel="stylesheet" href="/contact.css">

			<form name="FFAA Contact" method="post" action="/Contacted" netlify>
				<label>
					Name:
					<input type="text" name="name" required>
				</label><br>
				<fieldset>
					<legend>What is the nature of this message?</legend>
					<label>
						<input type="radio" name="reason" value="copyright">copyright claim
					</label>
					<label>
						<input type="radio" name="reason" value="feedback">feedback
					</label>
					<label>
						<input type="radio" name="reason" value="questions">questions
					</label>
					<label>
						<input type="radio" name="reason" value="other">other
					</label>
				</fieldset>
				<label>
					Message<br>
					<textarea name="message" required></textarea>
				</label><br>
			<label>
				Email:
				<input type="email" name="email" required>
			</label><br>
			<button type="submit">Submit Message</button>
			</form>
</Base>