---
import Footer from "../components/footer.astro"
import Metadata from "../components/common_metadata.astro"
import AppsList from "../components/apps_list.astro"
import { dead, total } from "../utils/validateHostedApps"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="common.css">

		<Metadata/>
		<title>All Dead Hosted Apps - FF Apps Archive (alpha)</title>
	</head>
	<body>
		<header>
			<h1><a href="/">All Dead Hosted Apps - FF Apps Archive (alpha)</a></h1>
		</header>
		<main>
			<p>Found { dead.length } dead hosted apps out of { total } total hosted apps.</p>
			<AppsList apps={ dead }/>
		</main>
		<Footer/>
	</body>
</html>