---
import * as Content from "astro:content"

import Footer from "../components/footer.astro"
import Metadata from "../components/common_metadata.astro"
import AppsList from "../components/apps_list.astro"

let apps = await Content.getCollection("metadata", ({ data }) => data.app_type == "hosted")
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="common.css">

		<Metadata/>
		<title>All Hosted Apps - FF Apps Archive (alpha)</title>
	</head>
	<body>
		<header>
			<h1><a href="/">All Hosted Apps - FF Apps Archive (alpha)</a></h1>
		</header>
		<main>
			<AppsList apps={ apps }/>
		</main>
		<Footer/>
	</body>
</html>