---
import Imports from "../components/common_imports.astro"
import Metadata from "../components/common_metadata.astro"
import Header from "../components/header.astro"
import Footer from "../components/footer.astro"
import AppsList from "../components/apps_list.astro"

import { live, total } from "../validateHostedApps.js"
---

<!doctype html>
<html lang="en">
	<head>
		<Imports/>
		<Metadata/>
		<title>All Live Hosted Apps - FF Apps Archive</title>
	</head>
	<body>
		<Header/>
		<main>
			<header>
				<h2>All Live Hosted Apps</h2>
			</header>
			<p>Found { live.length } live hosted apps out of { total } total hosted apps.</p>
			<AppsList apps={ live }/>
		</main>
		<Footer/>
	</body>
</html>