---
import Imports from "../components/common_imports.astro"
import Footer from "../components/footer.astro"
import Metadata from "../components/common_metadata.astro"
import AppsList from "../components/apps_list.astro"
import { live, total } from "../utils/validateHostedApps"
---

<!doctype html>
<html lang="en">
	<head>
		<Imports/>

		<Metadata/>
		<title>All Live Hosted Apps - FF Apps Archive</title>
	</head>
	<body>
		<header>
			<h1><a href="/">All Live Hosted Apps - FF Apps Archive (beta)</a></h1>
		</header>
		<main>
			<p>Found { live.length } live hosted apps out of { total } total hosted apps.</p>
			<AppsList apps={ live }/>
		</main>
		<Footer/>
	</body>
</html>