---
import * as Content from "astro:content"

import Base from "../../layouts/base.astro"
import AppsList from "../../components/apps_list.astro"

import { live } from "../../validate_hosted_apps.js"

let packaged = await Content.getCollection("metadata", app => app.data.app_type != "hosted")
let apps = packaged.concat(live).filter(app => app.data.is_offline)
---

<Base title="Works Offline">
	<link slot="imports" rel="stylesheet" href="/lists.css" />
	<link slot="icon" rel="icon" href={"/icons/works-offline.png"} type="image/png">

	<Fragment slot="header">
		<img src="/icons/works-offline.png" alt="" width="40" height="40">
				<h2>Works Offline</h2>
	</Fragment>

	<AppsList apps={ apps }/>
</Base>