<footer>
	<p><a href="https://github.com/DanielHerr/FF_Apps_Archive" target="_blank" rel="noopener noreferrer">FFAA is an open source project licensed under MPLv2. Contributions are welcome.</a></p>
	<p>Firefox is a trademark of Mozilla Foundation. FFAA is not affiliated with Mozilla.</p>
	<p>FFAA developed by <a href="https://danielherr.software" target="_blank" rel="noopener noreferrer">Daniel Herr Software</a>.</p>
</footer>