---
import Theme from "../components/theme_buttons.astro"
import Search from "../components/search.astro"
---

<header>
	<a href="/">
		<img src="/icons/rocket_bag_64.png" srcset="/icons/rocket_bag_128.png 2x, /icons/rocket_bag_512.png 8x" alt="" width="64" height="64">
		<h1 id="long_header">FF Apps Archive (beta)</h1>
		<h1 id="short_header" aria-hidden="true">FFAA</h1>
	</a>
	<Search/>
	<Theme/>
	<button id="nav_toggle_button" popovertarget="nav" aria-label="Toggle Nav"><span aria-hidden="true">≡</span></button>
	<label id="nav_toggle_label" for="nav_toggle_input" tabindex="0" role="button" aria-controls="nav" aria-label="Toggle Nav"><span aria-hidden="true">≡</span></label>
</header>