
<header>
	<img src="/icons/rocket_bag_32.png" srcset="/icons/rocket_bag_64.png 2x, /icons/rocket_bag_128.png 4x" alt="" width="32" height="32">
	<a href="/"><h1>FF Apps Archive (beta)</h1></a>
</header>