<header>
	<a href="/">
		<img src="/icons/rocket_bag_64.png" srcset="/icons/rocket_bag_128.png 2x, /icons/rocket_bag_512.png 8x" alt="" width="64" height="64">
		<h1>FF Apps Archive (beta)</h1>
	</a>
</header>