---
import Categories from "../components/categories.astro"
---

<nav>
	<a href="all">All Apps</a>
	<a href="packaged">Packaged</a>
	<a href="privileged">Privileged</a>
	<a href="hosted">Hosted</a>
	<a href="live">Live Hosted</a>
	<a href="dead">Dead Hosted</a>
	<Categories/>
</nav>