---
import Imports from "../../components/common_imports.astro"
import Metadata from "../../components/common_metadata.astro"
import Header from "../../components/header.astro"
import Footer from "../../components/footer.astro"
import AppsList from "../../components/apps_list.astro"

import { dead, total } from "../../validateHostedApps.js"
---

<!doctype html>
<html lang="en">
	<head>
		<Imports/>
		<link rel="stylesheet" href="/lists.css">
		<Metadata/>
		<title>All Dead Hosted Apps - FF Apps Archive</title>
	</head>
	<body>
		<Header/>
		<main>
			<header>
				<h2>All Dead Hosted Apps</h2>
			</header>
			<p>Found { dead.length } dead hosted apps out of { total } total hosted apps.</p>
			<AppsList apps={ dead }/>
		</main>
		<Footer/>
	</body>
</html>